.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content > img {
    width: 98%;
    margin: 10px auto;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.userInfo {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    position: center;
    box-shadow: 1px 2px 10px gray;
}

.userInfo > p {
    width: 400px;
    margin-left: 50px;

    /*border-radius: 10px;*/
    /*border: 1px solid gray;*/
    /*box-shadow: 1px 2px 10px gray;*/
}

.postWrapper {
    width: 80%;
    margin: 20px auto;
}

.newMessage {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newMessage > p > input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 15px;
    box-shadow: 1px 2px 10px gray;
}

.newMessage > button {
    margin-left: 30px;
    padding: 5px 15px;
    background: yellow;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 10px gray;
    outline: none;
}

.newMessage > button:hover {
    background: orange;
}