* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "navbar content"
        "footer footer";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr 100px;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: content;
    background: lightgray;
}